*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container{
    width: 300px;
    margin: 8px;
    

}
#myInput {
  padding: 8px;
  font-size: 1.2em;
  border: none;
  width: 300px;
  background-color: aliceblue;
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);


  }
  
  #myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 300px;
    display: none;
    border-radius:  4px;
    position: absolute;
    top: 50px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  }
  
  #myUL li a {
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
  }
  .main{
    width: 400px;
    text-align: justify;
  }